<html>
    <head>
        <title>Whatspread Dashboard</title>
    </head>
    <body>
        <h3>Info:</h3>
        <p>Use {name} as name placeholder</p>
        <br>
        <form method="POST">
            <label for="start">Start from:</label>
            <input type="number" id="start" name="start" min="0" step="1" required><br>

            <label for="end">end at:</label>
            <input type="number" id="end" name="end" min="0" step="1" required><br>

            <label for="message1">Message 1:</label><br>
            <textarea id="message1" name="message1" rows="4" cols="50" placeholder="Enter message 1 here..."></textarea><br><br>

            <label for="message2">Message 2:</label><br>
            <textarea id="message2" name="message2" rows="4" cols="50" placeholder="Enter message 2 here..."></textarea><br><br>

            <label for="message3">Message 3:</label><br>
            <textarea id="message3" name="message3" rows="4" cols="50" placeholder="Enter message 3 here..."></textarea><br><br>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
